name: Update spec info

on:
  schedule:
    - cron: '10 */6 * * *'
  workflow_dispatch:

jobs:
  fetch:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout repo
      uses: actions/checkout@v3
      with:
        # Need to checkout all history as job also needs to access the
        # xxx-specs@latest branches
        fetch-depth: 0

    - name: Setup node.js
      uses: actions/setup-node@v3
      with:
        node-version: 18
        cache: 'npm'

    - name: Setup environment
      run: npm ci

    - name: Build new index file
      env:
        GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      run: npm run build

    - name: Test new index file
      env:
        GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      run: |
        npm run test

    - name: Bump minor version of packages if needed
      run: node src/bump-packages-minor.js

    - name: Commit updates
      run: |
        git commit -m "[data] Update spec info" -a || true

    - name: Push changes
      uses: ad-m/github-push-action@v0.6.0
      with:
        github_token: ${{ secrets.GITHUB_TOKEN }}
        branch: main

    - name: Prepare packages data
      run: node src/prepare-packages.js

    - name: Create/Update pre-release PR for web-specs
      run: node src/prepare-release.js web-specs
      env:
        GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}

    - name: Create/Update pre-release PR for browser-specs
      run: node src/prepare-release.js browser-specs
      env:
        GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}

    # Following step runs even if a previous step failed to upload intermediary
    # build files
    - name: Store intermediary steps as artifacts
      if: ${{ !cancelled() }}
      uses: actions/upload-artifact@v3
      with:
        name: buildsteps
        path: |
          .buildsteps
