name: Test and lint

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
  workflow_dispatch:

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - name: Setup node.js
        uses: actions/setup-node@v3
        with:
          node-version: 18

      - name: Checkout latest version of release script
        uses: actions/checkout@v3

      - name: Install dependencies
        run: npm ci

      - name: Test (including GitHub API tests)
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        if: ${{ env.GH_TOKEN }}
        run: |
          npm run test

      - name: Test (without GitHub API tests)
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        if: ${{ !env.W3C_API_KEY }}
        run: npm run test-pr

      - name: Lint
        run: npm run lint
