on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master
name: Test and lint
jobs:
  lint:
    runs-on: ubuntu-18.04
    steps:
      - name: Checkout repo contents
        uses: actions/checkout@v1

      - name: Setup node.js
        uses: actions/setup-node@v1
          with:
            node-version: 12.x

      - name: Install dependencies
        run: npm ci

      - name: Test (including W3C API tests)
        if: ${{ secrets.CONFIG_JSON }}
        run: |
          echo "${{ secrets.CONFIG_JSON }}" | base64 --decode > config.json
          npm run test

      - name: Test (without W3C API tests)
        if: ${{ !secrets.CONFIG_JSON }}
        run: npm run test-pr

      - name: Lint
        run: npm run lint